*{
    margin: 0px;
    padding: 0px;
    
}
.container {
    display: grid;
    height: 110vh;
    grid-template-columns: 0.3fr 1fr 1fr 0.3fr;
    grid-template-rows: 0.2fr 1fr 1fr 1fr;
    grid-template-areas: 
    "nav nav nav nav"
    "sidebar content1 content1 main"
    "sidebar content1 content1 main"
    "sidebar content1 content1 main";
    grid-gap: 0.2rem; 
    
}

.icon {
    
    margin-top: 1%;
    
}

.logo {
    color: aliceblue;
    text-transform: uppercase;
    letter-spacing: 5px;
    font-size: 20px;
    text-align: center;
    margin-top: 2%;
    font-family: 'Staatliches', cursive;                               /* Google Font*/
}

nav {
    background: #35424a;
    grid-area: nav;
}

nav ul {
    display: inline;
 padding: 20px 20px 20px;
 display: flex;
 justify-content: space-between;
 width: 20%;
 list-style: none;

}


nav ul li:hover {
 text-transform: uppercase;
 background: gray;
}

nav li a{
    color: aliceblue;
    text-decoration: none;
}



main {
    background: #35424a;
    grid-area: main;
    
    color: aliceblue;
}

#sidebar{
    background: #35424a;
    grid-area: sidebar;
    
    
}



.info {
    margin-top: 3%;
}

#content1 {
    background: tan;
    grid-area: content1;
    text-align: center;
    
}

#content1 p {
    background: tan;
    grid-area: content1;
    text-align: center;
    font-size: larger;
    border: 2px solid black;
    
}



#homeImg p {
    margin-top: 10%;
    font-size: 20px;
}

.button_1 {
    height: 38px;
    background: gray;
    border: none;
    padding-left: 20px;
    padding-right: 20px;
    color: #ffffff;
    
}

.button_1:hover {
    text-shadow: 1px 1px #35424a;
    color: darkslategrey;
}

#content1 h3 {
    border: 2px solid black;
}

#content1 h1 {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}




/* tablet */
@media screen and (max-width: 768px) {
    .container {
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 0.2fr 2fr 2fr;
        grid-template-areas: 
        "nav nav nav "
        "content1 content1 content1"
        "content1 content1 content1"
        "content1 content1 content1"
        ;
    }

  #content1 h3 {
      margin-top: 0%;
      background-color: tan;
  }

    #content1 img {
        max-width: 100%;
        margin-left: 0;
        background-color: tan;
        
    }

    nav ul {
    display: flex;
    justify-content: space-between;
     width: 20%;
    
    }
    
    
    nav ul li:hover {
     text-transform: uppercase;
     background: gray;
    }
    
    nav li a{
        color: aliceblue;
        text-decoration: none;
    }

    #homeImg p {
        margin-bottom: 3%;
    }

}
/* phone */
* {
    margin: 0px;
    padding: 0px;
}
@media screen and (max-width: 500px) {
    .container{
        grid-template-columns: 1fr;
        grid-template-rows: 0.4fr 0.4fr 2.2fr 1.2fr 1.2fr 1.2fr 1fr ;
        grid-template-areas: 
        "nav"
        "content1"
        "content1"
        "content1"
        "content1"
        ;
       
    }
 
    nav ul {
        display: inline;
     padding: 20px 20px 20px;
     display: flex;
     justify-content: space-between;
     width: 20%;
     list-style: none;
    
    }
    
    
    nav ul li:hover {
     text-transform: uppercase;
     background: gray;
    }
    
    nav li a{
        color: aliceblue;
        text-decoration: none;
    }

  #homeImg p {
    margin-bottom: 3%;
}

#content1 img {
    max-width: 100%;
    margin-left: 0;
    
}


}