.container {
    display: grid;
    height: 100vh;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 0.8fr 1.5fr 0.8fr;
    grid-template-areas: 
    "nav nav nav nav"
    "main main sidebar sidebar"
    "main main content1 content2";
    grid-gap: 0.2rem;
}

nav {
    background: red;
    grid-area: nav;
}

main {
    background: blue;
    grid-area: main;
}

#sidebar{
    background: green;
    grid-area: sidebar;
}

#content1 {
    background: purple;
    grid-area: content1;
}

#content2 {
    background: purple;
    grid-area: content2;
}

#content3 {
    background: purple;
    grid-area: content3;
}
